Example of ngModel <br>
<input type="text" [(ngModel)]="titlePage">
{{ titlePage }}

<br>
Custom Pipes 
<br>
<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<br><br>
<div *ngIf="1 === 1">
  este es un ejemplo de *ngIf
</div>
<br>
<br>
Example of ngIf <br>
Escribe el texto "show" y aparecera un div: <br>
<input type="text" [(ngModel)]="textTest"> 
{{ textTest }}

<div *ngIf="textTest === 'show'">
  hola soy un div!
</div>
<br>
<br>
Example of ngSwitch <br>
Escribe uno de estos nombres: Mijael, Juan, Jorge <br>
<input type="text" [(ngModel)]="name"> {{ name }}

<div [ngSwitch]="name">
  <p *ngSwitchCase="'Mijael'">este es el div de Mijael</p>
  <p *ngSwitchCase="'Juan'">este es el div de Juan</p>
  <p *ngSwitchCase="'Jorge'">este es el div de Jorge</p>  
  <p *ngSwitchDefault>no hay match</p>
</div>

<br>
ngFor
<br>
<button (click)=addItem()>Add item</button>
<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>



